{% extends '../AdminBase.html' %} {% block title %}App User Details{% endblock title %} {% block content %} {% load static %} {% for item in appuserObj %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Details-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">App User Details : </h5>
                <!--end::Title-->
                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->
            </div>
            <!--end::Details-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Button-->
                <a href="{% url 'appUserList' %}" class="btn btn-warning font-weight-bold ml-2"><span><i class="fas fa-arrow-left"></i></span>Back</a>
                <!--end::Button-->
                <!--begin::Button-->
                <!-- <a href="{% url 'editProductDetails' item.pk %}" class="btn btn-primary font-weight-bold ml-2"><span><i class="fas fa-pencil-alt"></i></span>Edit Details</a> -->
                <!--end::Button-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>First Name</td>
                                                <td> : <b>{{item.first_name}}</b></td>
                                            </tr>
                                            <tr>
                                                <td>Last Name</td>
                                                <td> : <b>{{item.last_name}}</b></td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td> : <b>{{item.email}}</b></td>
                                            </tr>
                                            <tr>
                                                <td>Phone No.</td>
                                                <td> : <b>{{item.phone_no}}</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
{% endfor %}{% endblock content %}