<!--begin::Product-->
<div class="col-md-4 col-lg-12 col-xxl-4">
    <!--begin::Card-->
    <div class="card card-custom card-shadowless">
        <div class="card-body p-0">
            <!--begin::Image-->
            <div class="overlay">
                <div class="overlay-wrapper rounded bg-light text-center">
                    <img src="{% static 'assets/media/products/2.png' %}" alt="" class="mw-100 w-200px" />
                </div>
                <div class="overlay-layer">
                    <a href="#" class="btn font-weight-bolder btn-sm btn-primary mr-2">Quick View</a>
                    <a href="#" class="btn font-weight-bolder btn-sm btn-light-primary">Purchase</a>
                </div>
            </div>
            <!--end::Image-->
            <!--begin::Details-->
            <div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
                <a href="#" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1">Headphones</a>
                <span class="font-size-lg">Outlines keep poorly thought</span>
            </div>
            <!--end::Details-->
        </div>
    </div>
    <!--end::Card-->
</div>
<!--end::Product-->
<!--begin::Product-->
<div class="col-md-4 col-lg-12 col-xxl-4">
    <!--begin::Card-->
    <div class="card card-custom card-shadowless">
        <div class="card-body p-0">
            <!--begin::Image-->
            <div class="overlay">
                <div class="overlay-wrapper rounded bg-light text-center">
                    <img src="{% static 'assets/media/products/3.png' %}" alt="" class="mw-100 w-200px" />
                </div>
                <div class="overlay-layer">
                    <a href="#" class="btn font-weight-bolder btn-sm btn-primary mr-2">Quick View</a>
                    <a href="#" class="btn font-weight-bolder btn-sm btn-light-primary">Purchase</a>
                </div>
            </div>
            <!--end::Image-->
            <!--begin::Details-->
            <div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
                <a href="#" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1">Smart Drones</a>
                <span class="font-size-lg">Outlines keep poorly thought</span>
            </div>
            <!--end::Details-->
        </div>
    </div>
    <!--end::Card-->
</div>
<!--end::Product-->